Import the required libraries and modules that you would need.

In [210]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.utils import resample

Read that data into Python and call the dataframe donors.

We make use of the cleaned cleaned version of learningSet.csv from the class - in form of numerical.csv, categorical.csv and target.csv

In [211]:
numerical=pd.read_csv("files_for_lab/numerical.csv")
categorical=pd.read_csv("files_for_lab/categorical.csv")
target=pd.read_csv("files_for_lab/target.csv")
display(numerical.head())
display(categorical.head())
display(target.head())

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11.0
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10.0
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1.0
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2.0
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3.0

   TARGET_B  TARGET_D
0         0       0.0
1         0       0.0
2         0       0.0
3         0       0.0
4         0       0.0

Check for NULLs in categorical

In [212]:
pd.DataFrame(categorical.isna().sum()/len(categorical)).head(60)

                     0
STATE         0.000000
CLUSTER       0.000000
HOMEOWNR      0.000000
GENDER        0.000000
DATASRCE      0.000000
RFA_2R        0.000000
RFA_2A        0.000000
GEOCODE2      0.000000
DOMAIN_A      0.000000
DOMAIN_B      0.000000
ODATEW_YR     0.000000
ODATEW_MM     0.000000
DOB_YR        0.000000
DOB_MM        0.000000
MINRDATE_YR   0.000000
MINRDATE_MM   0.000000
MAXRDATE_YR   0.000000
MAXRDATE_MM   0.000000
LASTDATE_YR   0.000000
LASTDATE_MM   0.000000
FIRSTDATE_YR  0.000000
FIRSTDATE_MM  0.000021

In [213]:
categorical['FIRSTDATE_MM'].value_counts(dropna=False)

1.0     18175
9.0     15196
10.0    14540
2.0     12839
3.0      6813
11.0     6572
12.0     5981
4.0      4267
6.0      3356
8.0      3008
7.0      2846
5.0      1817
NaN         2
Name: FIRSTDATE_MM, dtype: int64

In [214]:
indexes_removal=categorical[categorical['FIRSTDATE_MM'].isna()].index
numerical=numerical[~numerical.index.isin(indexes_removal)]
categorical=categorical[~categorical.index.isin(indexes_removal)]
target=target[~target.index.isin(indexes_removal)]
display(numerical.shape)
display(categorical.shape)
display(target.shape)

(95410, 315)

(95410, 22)

(95410, 2)

In [215]:
display(categorical['FIRSTDATE_MM'].value_counts(dropna=False))

1.0     18175
9.0     15196
10.0    14540
2.0     12839
3.0      6813
11.0     6572
12.0     5981
4.0      4267
6.0      3356
8.0      3008
7.0      2846
5.0      1817
Name: FIRSTDATE_MM, dtype: int64

Concatenate numerical and categorical back together again for your X dataframe. Designate the Target as y.

In [216]:
X=pd.concat([numerical,categorical],axis=1)
X.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0,60.000000,5,9,0,0,39,34,18,10,...,37,12,92,8,94,2,95,12,89,11.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,52,2,93,10,95,12,95,12,93,10.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,2,91,11,92,7,95,12,90,1.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,28,1,87,11,94,11,95,12,87,2.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,20,1,93,10,96,1,96,1,79,3.0

In [217]:
y=target['TARGET_B']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: TARGET_B, dtype: int64

Split the data into a training set and a test set.

In [218]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1254)

Split further into train_num and train_cat. Also test_num and test_cat.

In [219]:
X_train_num = X_train.select_dtypes(np.number)
X_test_num = X_test.select_dtypes(np.number)

X_train_cat = X_train.select_dtypes(object)
X_test_cat = X_test.select_dtypes(object)

Scale the features either by using normalizer or a standard scaler. (train_num, test_num)

In [220]:
transformer=MinMaxScaler().fit(X_train_num)
X_train_num_scaled = transformer.transform(X_train_num)
X_train_num_scaled = pd.DataFrame(X_train_num_scaled,columns=X_train_num.columns)
X_train_num_scaled.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0.000000,0.628866,0.500000,1.000000,0.000000,0.0,0.080808,0.080808,0.464646,0.030303,...,0.371134,0.000000,0.85,0.727273,0.800000,0.636364,0.0,0.636364,0.909091,0.181818
1,0.000028,0.624862,0.666667,1.000000,0.000000,0.0,0.232323,0.444444,0.303030,0.090909,...,0.000000,0.090909,0.85,0.818182,0.866667,0.272727,0.5,0.181818,0.863636,0.818182
2,0.000014,0.814433,0.833333,0.666667,0.082988,0.0,0.505051,0.282828,0.121212,0.080808,...,0.185567,0.000000,0.85,0.727273,0.866667,0.909091,0.0,0.909091,0.909091,0.727273
3,0.000000,0.443299,0.166667,0.666667,0.004149,0.0,0.292929,0.303030,0.292929,0.060606,...,0.556701,0.000000,0.75,1.000000,0.933333,0.090909,0.5,0.090909,0.818182,0.818182
4,0.000000,0.494845,0.500000,0.444444,0.008299,0.0,0.343434,0.404040,0.333333,0.090909,...,0.505155,0.000000,0.85,0.909091,0.800000,0.727273,0.5,0.181818,0.909091,0.727273

In [221]:
X_test_num_scaled = transformer.transform(X_test_num)
X_test_num_scaled = pd.DataFrame(X_test_num_scaled,columns=X_test_num.columns)
X_test_num_scaled.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0.000028,0.624862,0.666667,1.000000,0.000000,0.0,0.343434,0.464646,0.323232,0.040404,...,0.000000,0.090909,0.65,0.454545,0.666667,0.000000,0.0,1.000000,0.727273,0.454545
1,0.000014,0.624862,0.666667,1.000000,0.000000,0.0,0.030303,0.797980,0.000000,0.040404,...,0.000000,0.090909,0.85,0.000000,0.866667,0.454545,0.0,1.000000,0.863636,0.727273
2,0.000000,0.360825,0.833333,0.888889,0.004149,0.0,0.252525,0.161616,0.555556,0.030303,...,0.639175,0.000000,0.90,0.272727,0.866667,0.000000,0.0,0.272727,0.954545,0.000000
3,0.000014,0.624862,0.666667,1.000000,0.000000,0.0,0.272727,0.252525,0.252525,0.101010,...,0.000000,0.090909,0.85,0.909091,0.866667,0.363636,0.0,0.818182,0.909091,0.909091
4,0.000000,0.608247,0.166667,1.000000,0.000000,0.0,0.303030,0.282828,0.383838,0.181818,...,0.391753,0.000000,0.75,1.000000,0.866667,0.090909,0.0,0.727273,0.636364,0.090909

Encode the categorical features using One-Hot Encoding or Ordinal Encoding. (train_cat, test_cat)

In [222]:
encoder = OneHotEncoder().fit(X_train_cat)
X_train_cat_encoded = encoder.transform(X_train_cat).toarray()
cols = encoder.get_feature_names_out(input_features=X_train_cat.columns)
X_train_cat_encoded = pd.DataFrame(X_train_cat_encoded, columns=cols)
X_train_cat_encoded.head()

,STATE_CA,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,...,RFA_2A_G,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [223]:
X_test_cat_encoded = encoder.transform(X_test_cat).toarray()
cols = encoder.get_feature_names_out(input_features=X_test_cat.columns)
X_test_cat_encoded = pd.DataFrame(X_test_cat_encoded, columns=cols)
X_test_cat_encoded.head()

,STATE_CA,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,...,RFA_2A_G,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

Re-concatenate train_num and train_cat as X_train as well as test_num and test_cat as X_test

In [224]:
X_train = pd.concat([X_train_num_scaled, X_train_cat_encoded], axis=1)
X_train.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_G,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.000000,0.628866,0.500000,1.000000,0.000000,0.0,0.080808,0.080808,0.464646,0.030303,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.000028,0.624862,0.666667,1.000000,0.000000,0.0,0.232323,0.444444,0.303030,0.090909,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.000014,0.814433,0.833333,0.666667,0.082988,0.0,0.505051,0.282828,0.121212,0.080808,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.000000,0.443299,0.166667,0.666667,0.004149,0.0,0.292929,0.303030,0.292929,0.060606,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.000000,0.494845,0.500000,0.444444,0.008299,0.0,0.343434,0.404040,0.333333,0.090909,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [225]:
X_test = pd.concat([X_test_num_scaled, X_test_cat_encoded], axis=1)
X_test.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_G,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.000028,0.624862,0.666667,1.000000,0.000000,0.0,0.343434,0.464646,0.323232,0.040404,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.000014,0.624862,0.666667,1.000000,0.000000,0.0,0.030303,0.797980,0.000000,0.040404,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.000000,0.360825,0.833333,0.888889,0.004149,0.0,0.252525,0.161616,0.555556,0.030303,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.000014,0.624862,0.666667,1.000000,0.000000,0.0,0.272727,0.252525,0.252525,0.101010,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.000000,0.608247,0.166667,1.000000,0.000000,0.0,0.303030,0.282828,0.383838,0.181818,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

Fit a logistic regression model on the training data.

In [226]:
classification = LogisticRegression(random_state=1122, solver='lbfgs')
classification.fit(X_train,y_train)

C:\Users\nipun.ironhack\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1122)

In [227]:
predictions = classification.predict(X_train)
print("Training score: ",round(classification.score(X_train, y_train),2),"%")

predictions = classification.predict(X_test)
print("Test score: ",round(classification.score(X_test, y_test),2),"%")

Training score:  0.95 %
Test score:  0.95 %

In [228]:
confusion_matrix(y_test, predictions)

array([[22639,     0],
       [ 1214,     0]], dtype=int64)

In [229]:
print("precision: ",precision_score(y_test,predictions))
print("recall: ",recall_score(y_test,predictions))
print("f1: ",f1_score(y_test,predictions))

precision:  0.0
recall:  0.0
f1:  0.0

C:\Users\nipun.ironhack\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Recall is just 54% which is very low. It means that only 54% of the donors can be predicted from the total number of actual donors, even though we got high accuracy probably due to high number of non-donors, resulting in biasness of non donor prediction.

## Managing imbalance in the dataset

Check for the imbalance.

In [230]:
train_set=pd.concat([X_train,y_train.reset_index(drop=True)],axis=1)
display(train_set.shape)
train_set.head()

(71557, 362)

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,0.000000,0.628866,0.500000,1.000000,0.000000,0.0,0.080808,0.080808,0.464646,0.030303,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,0.000028,0.624862,0.666667,1.000000,0.000000,0.0,0.232323,0.444444,0.303030,0.090909,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,0.000014,0.814433,0.833333,0.666667,0.082988,0.0,0.505051,0.282828,0.121212,0.080808,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,0.000000,0.443299,0.166667,0.666667,0.004149,0.0,0.292929,0.303030,0.292929,0.060606,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0.000000,0.494845,0.500000,0.444444,0.008299,0.0,0.343434,0.404040,0.333333,0.090909,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0

In [231]:
train_set['TARGET_B'].value_counts()

0    67928
1     3629
Name: TARGET_B, dtype: int64

In [232]:
category_0 = train_set[train_set['TARGET_B'] == 0]
category_1 = train_set[train_set['TARGET_B'] == 1]

## Downsampling (undersampling)

In [233]:
category_0_undersampled = resample(category_0, 
                                   replace=False, 
                                   n_samples = len(category_1))

In [234]:
print(category_0_undersampled.shape)
print(category_1.shape)

(3629, 362)
(3629, 362)

In [235]:
df_donors_downsampled = pd.concat([category_0_undersampled, category_1], axis=0)
df_donors_downsampled = df_donors_downsampled.sample(frac=1)
display(df_donors_downsampled['TARGET_B'].value_counts())
df_donors_downsampled.head()

1    3629
0    3629
Name: TARGET_B, dtype: int64

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
19281,0.000000,0.742268,0.166667,1.000000,0.000000,0.0,0.303030,0.282828,0.363636,0.070707,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
325,0.000028,0.721649,0.000000,0.000000,0.091286,0.0,0.151515,0.282828,0.515152,0.060606,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0
30050,0.000000,0.505155,0.166667,0.333333,0.016598,0.0,0.232323,0.252525,0.090909,0.101010,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
44816,0.000014,0.360825,0.833333,0.222222,0.016598,0.0,0.303030,0.343434,0.181818,0.050505,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
43311,0.000000,0.752577,0.500000,0.777778,0.136929,0.0,0.474747,0.252525,0.636364,0.111111,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0

Build the Logisitic Regression with undersampled Training Data

In [236]:
X_train=df_donors_downsampled.drop(['TARGET_B'],axis=1)
y_train=df_donors_downsampled['TARGET_B']

classification = LogisticRegression(random_state=1122, solver='lbfgs')
classification.fit(X_train,y_train)

C:\Users\nipun.ironhack\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1122)

In [237]:
predictions = classification.predict(X_train)
print("Training score: ",round(classification.score(X_train, y_train),2),"%")

predictions = classification.predict(X_test)
print("Test score: ",round(classification.score(X_test, y_test),2),"%")

Training score:  0.61 %
Test score:  0.58 %

In [238]:
confusion_matrix(y_test, predictions)

array([[13150,  9489],
       [  512,   702]], dtype=int64)

In [239]:
print("precision: ",precision_score(y_test,predictions))
print("recall: ",recall_score(y_test,predictions))
print("f1: ",f1_score(y_test,predictions))

precision:  0.06888430968501619
recall:  0.5782537067545305
f1:  0.12310390179745727

As we observe, with downsampling, the accuracy has significantly gone down, possibly due to elimination of rows, which ofcourse removes meaningful data from the dataframe.

Regarding the recall, there has been a slight improvement in the value, probably due to the downsampling.

## Upsampling (Oversampling)

In [240]:
category_1_oversampled = resample(category_1, 
                                  replace=True, 
                                  n_samples = len(category_0))

In [241]:
print(category_0.shape)
print(category_1_oversampled.shape)

(67928, 362)
(67928, 362)

In [242]:
df_donors_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)
df_donors_upsampled = df_donors_upsampled.sample(frac=1)
display(df_donors_upsampled['TARGET_B'].value_counts())
df_donors_upsampled.head()

1    67928
0    67928
Name: TARGET_B, dtype: int64

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
38450,0.000000,0.525773,0.833333,1.000000,0.000000,0.0,0.303030,0.282828,0.262626,0.090909,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
34638,0.000000,0.762887,0.666667,1.000000,0.000000,0.0,0.252525,0.404040,0.242424,0.111111,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
28684,0.000000,0.624862,0.666667,1.000000,0.000000,0.0,0.424242,0.505051,0.131313,0.060606,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
56248,0.000028,0.711340,0.166667,0.222222,0.029046,0.0,0.363636,0.292929,0.313131,0.030303,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0
53305,0.000000,0.639175,1.000000,1.000000,0.070539,0.0,0.222222,0.272727,0.101010,0.030303,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [243]:
X_train=df_donors_upsampled.drop(['TARGET_B'],axis=1)
y_train=df_donors_upsampled['TARGET_B']

classification = LogisticRegression(random_state=1122, solver='lbfgs')
classification.fit(X_train,y_train)

C:\Users\nipun.ironhack\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1122)

In [244]:
predictions = classification.predict(X_train)
print("Training score: ",round(classification.score(X_train, y_train),2),"%")

predictions = classification.predict(X_test)
print("Test score: ",round(classification.score(X_test, y_test),2),"%")

Training score:  0.61 %
Test score:  0.61 %

In [245]:
confusion_matrix(y_test, predictions)

array([[13823,  8816],
       [  556,   658]], dtype=int64)

In [246]:
print("precision: ",precision_score(y_test,predictions))
print("recall: ",recall_score(y_test,predictions))
print("f1: ",f1_score(y_test,predictions))

precision:  0.06945324044754064
recall:  0.5420098846787479
f1:  0.12312874251497007

As we observe, with upsampling, the accuracy improved a bit as compared to downsampling but at the cost of a slight lower recall, which is nearly the same as calculated with the model without any resampling.

In all the downsampling performed the best in terms of recall even though it costed the accuracy, but for us, we need to identify the right donors and recall is an important metric for that.